.bold {
  font-weight: bold;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-banner {
  width: 100%;
}

.image {
  margin: 15px;
}

.text {
  margin: auto;
}
