footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 10px;
  height: auto !important;
  background-color: #2b2a2a;
  text-align: center;
  border-top: 1px solid #ddd;
  margin: 0;
  font-size: 14px;
}
